.env
Pest/
Pesticide_Dataset/
openMeteo.py
openWeather.py
.cache.sqlite
__pycache__/
localBackend/
frontend/node_modules/
Pest/
Pesticide_Dataset/
openMeteo.py
openWeather.py
__pycache__/
.cache.sqlite
.env
.venv
/_pycache__

